<style>
    footer {
        max-width: 1000px;
        text-align: center;
        border-top: 5px dotted var(--accent);
        padding: 20px 0;
        margin: auto;
        margin-bottom: 100px;
    }
    p {
        color: #777;
    }
    a {
        display: inline-block;
        text-decoration: auto;
        font-weight: initial;
    }
</style>

<footer>
    <p>
        Made by kala Asi. Inspired by <a href="https://www.tomscott.com/newsletter/">Tom Scott's newsletter</a>.
    </p>
    <p>
        Text is dual licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">Creative Commons Attribution-ShareAlike 4.0</a> and <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons Attribution-ShareAlike 3.0</a> licenses. Source code licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3</a> and hosted on <a href="https://github.com/pona-la/sin-kulupu">GitHub</a>.
    </p>
</footer>
