<style>
    header {
        max-width: 1000px;
        text-align: center;
        border-bottom: 5px dotted var(--accent);
        padding: 15px 0;
        margin: auto;
    }
    span {
        margin-left: 5px;
        font-size: 35px;
        font-weight: bold;
    }
    a {
        display: inline-block;
        text-decoration: auto;
    }
    a > * {
        vertical-align: middle;
    }
</style>

<header>
    <a href="./">
        <img height="80" width="80" src="./sin-kulupu.svg" />
        <span>sin kulupu</span>
    </a>
</header>
