---
import { SITE_TITLE } from "../consts";
---

<style>
    header {
        width: 100%;
        text-align: center;
        border-bottom: 5px dotted var(--accent);
    }
</style>

<header>
    <nav>
        <!-- <img height="80" src="/sin-kulupu.svg" /> -->
        <h1><a href="/">{SITE_TITLE}</a></h1>
    </nav>
</header>
